name: upload docs

on:
  workflow_dispatch:


permissions:
  contents: read
  pages: write
  id-token: write
  
concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
    run:
      working-directory: docs~
jobs:
  deploy:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          # rootにpackage-lock.jsonがないとエラーになる現象への対応
          # 参照：https://zenn.dev/nixieminton/articles/8b26a92feb26d8
          cache-dependency-path: ./docs~/package-lock.json
      - name: Install dependencies
        run: npm install
        
      - name: Build
        run: npm run build
        
      - name: check directory
        run:  tree
        
      - name: Setup Pages
        uses: actions/configure-pages@v4
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs~/dist'
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
